
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
//mixin text
@mixin font($f-size, $f-family, $color) {
  font-size: calculateRem($f-size);
  font-family: $f-family;
  color: $color;
}

//mixin section__subtitle::before "-"
@mixin bef($w: 20px, $h: 3px, $l: 0px, $t: 0px, $b: #000) {
  content: "";
  position: absolute;
  width: $w;
  height: $h;
  left: $l;
  top: $t;
  background: $b;
}

@mixin margin($bottom: 0, $left: 0, $right: 0) {
  margin-top: 0;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
}

%button {
  @include font(16px, $f-acrom-extra-bold, $c-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  background-color: $c-orange;
  box-shadow: 0 9px 13px rgba(196,87,15, .26);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $c-btn-hover;
    box-shadow: 0 9px 13px rgba(23,236,255, .26);
  }

  &:active {
    background-color: $c-btn-active;
    box-shadow: none;
  }
}