
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
//mixin text
@mixin font($f-size, $f-family, $color) {
  font-size: calculateRem($f-size);
  font-family: $f-family;
  color: $color;
}

//mixin section__subtitle::before "-"
@mixin bef($w: 20px, $h: 3px, $l: 0px, $t: 0px, $b: #000) {
  content: "";
  position: absolute;
  width: $w;
  height: $h;
  left: $l;
  top: $t;
  background: $b;
}

@mixin button($w, $h) {
  background-color: $c-orange;
  box-shadow: $btn-shadow;
  width: $w;
  height: $h;
}

@mixin margin($bottom: 0, $left: 0, $right: 0) {
  margin-top: 0;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
}
