.section-list__item {
  position: relative;

  &_half {
    width: 100%;
    padding-left: 44px;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and ($m-tablet) {
      width: 50%;
      padding-right: 30px;

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    &::before {
      counter-increment: step;
      content: counter(step, decimal-leading-zero)'.';
      position: absolute;
      top: 0;
      left: -10px;
      @include font(24px, $f-acrom-extra-bold, $c-black);
    }

    &::after {
      @extend %aqua-square;
      content: '';
      top: 30px;
      left: 20px;
    }
  }

  &_third {
    padding-left: 20px;

    &::before {
      counter-increment: step;
      content: '[0'counter(step, decimal-leading-zero)']';
      position: absolute;
      top: 10px;
      left: -24px;
      padding: 2px;
      @include font(10px, $f-acrom-bold, $c-white);
      background-color: $c-orange;
      transform: rotate(-90deg);

      @media screen and ($m-extra-small) {
        left: -6px;
      }
    }

    @media screen and ($m-mobile) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and ($m-tablet) {
      width: 31%;

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }
  }
}