.description__head {
  @include fz(18px);
  margin: 0;
  font-family: $f-acrom-extra-bold;
  color: $c-black;
  line-height: 26px;
  text-transform: uppercase;

  @include mq(tablet, max) {
    text-align: center;
  }
}