.description {
  @include mq(tablet, max) {
    padding-bottom: 2rem;
  }

  &.square {
    position: relative;

    &::after {
      top: -30px;
      left: 0;

      @include mq(tablet, max) {
        top: 8px;
        left: calc(50% - 110px);
      }
    }
  }
}
