.price {
  height: 100%;
  padding: 25% 0;
  background-image: url('../img/sections/price_fon.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: $price-shadow;
}
