.big-online__text {
  padding: 0;
  @include txt($f-acrom-regular, $fz-14px, $c-shade-blue);

  @media (max-width: 767px) {
    @include margin(0, auto, auto);
    display: inline-block;
  }

  @media (min-width: 768px) {
    @include margin(0px);
    display: inline-block;
    font-size: $fz-8px;
    padding-left: 0;
    padding-right: 52px;
  }
}
