.big-online__title {
  padding: 0;
  text-transform: uppercase;
  @include txt($f-acrom-extra-bold, $fz-14px, $c-black);

  @media (max-width: 767px) {
    @include margin(14px, auto, auto);
    display: inline-block;
  }

  @media (min-width: 768px) {
    @include margin(0px);
    display: inline-block;
    font-size: $fz-9px;
    //padding-left: 52px;
  }
}
