.course__subtitle {
  position: relative;

  @media (max-width: 767px) {
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 44px;

    &::before {
      @include bef(20px, 3px, 0, 8px);
    }
  }
}
