.section-simple-step {
  padding: 40px 0 60px;
  border-bottom: 1px solid $c-section-border;
  background-image: url(../img/sections/simple-step.png);
  background-repeat: no-repeat;
  background-position: 30% 40px;
}