// Button variants
// Default styles, as well as :hover, :active,
// and disabled options for all buttons

//  Box model
@mixin box-model {
  display: flex;
  justify-content: center;
  align-items: center;
}

//  Button size
@mixin button-size {
  @each $item, $size in $button-sizes {
    &-#{$item} {
      padding-left: $size;
      padding-right: $size;
    }
  }
}

//  Button default
@mixin button {
  @include button-size;
  @include box-model;
  @include fz(16px);
  padding: 1rem 0;
  font-family: $f-acrom-extra-bold;
  color: $c-white;
  background-color: map_get($buttons-color, primary);
  box-shadow: 0 9px 14px map_get($buttons-color, primary-shadow);
  border: 0;
  cursor: pointer;

  @include mq(tablet, max) {
    max-width: 220px;
    margin: auto;
  }

  &:hover {
    background-color: map-get($buttons-color, hover);
    box-shadow: 0 9px 13px map-get($buttons-color, hover-shadow);
  }

  &:active {
    background-color: map-get($buttons-color, active);
    box-shadow: none;
  }
}
