.first-card {
  @extend %card;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 80px;
    height: 68px;
    background: url("../../img/icon-section/11-icon1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      width: 58px;
      height: 50px;
      background: url("../../img/icon-section/11-icon1-768.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
