.section-opportunity__subtitle {
  @media ($m-mobile) {
    position: relative;
    margin: 0 auto;
    order: 3;
    padding-left: 28px;
    padding-right: 6px;

    &::before {
      @include bef(20px, 4px, 0px, 8px);
    }
  }

  @media ($m-tablet) {
    margin: 0;
    position: relative;
    padding-left: 65px;
    padding-right: 64px;

    &::before {
      @include bef(29px, 4px, 22px, 4px);
    }
  }
}
