.section-opportunity__subtitle {
  @media (max-width: 767px) {
    margin: 0 auto;
    order: 3;
    position: relative;
    padding-left: 28px;
    padding-right: 6px;

    &::before {
      @include bef(20px, 4px, 0px, 8px);
    }
  }
}
