.third-card {
  @extend %card;

  @media (max-width: 767px) {
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background: url("../../img/icon-section/11-icon3.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 54px;
      height: 109px;
      bottom: 28px;
      right: 6px;
    }
  }
}
