.third-card__title {
  @include text($f-acrom-extra-bold, 13px, $c-black);
  text-transform: uppercase;
  position: relative;
  padding-right: 114px;
  margin-top: 0;
  margin-bottom: 14px;

  &::after {
    content: "02_";
    position: absolute;
    display: inline-block;
    @include text($f-futura-bold, 38px, $c-black);
    opacity: 0.05;
    top: -12px;
    right: 90px;
    transform-origin: center;
    transform: rotate(270deg);
  }
}
