.third-card__title {
  position: relative;

  @media (max-width: 767px) {
    padding-right: 120px;

    &::after {
      content: "02_";
      position: absolute;
      display: inline-block;
      @include txt($f-futura-bold, $fz-38px, $c-black);
      opacity: 0.05;
      top: -12px;
      right: 90px;
      transform-origin: center;
      transform: rotate(270deg);
    }
  }
}
