.section-opportunity__subtitle{
    @include txt($f-acrom-bold, $fz-14px, $c-black);
    padding-left: 24px;
    position: relative;
    margin-top: 0;
    margin-bottom: 38px;

    &::before{
        @include bef(20px, 3px, 0, 8px);
    }
    
}