.fact-dry {
  padding: 2.5rem 0 3.75rem;
  border-bottom: 1px solid $c-section-border;

  .container {
    @include mq(tablet) {
      background-image: url('../img/sections/graf.jpg');
      background-repeat: no-repeat;
      background-position: right bottom;

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/sections/graf@2x.jpg');
      }
    }
  }
}
