.section-desc__head {
  @include font(18px, $f-acrom-extra-bold, $c-black);
  margin: 0;
  line-height: 26px;
  text-transform: uppercase;

  @media screen and ($m-mobile) {
    text-align: center;
  }
}