.section-desc {
  @media screen and ($m-mobile) {
    padding-bottom: 2rem;
  }

  &.square {
    position: relative;

    &::before {
      @extend %black-square;
      content: '';
      top: -30px;
      left: 0;

      @media screen and ($m-mobile) {
        top: 5px;
        left: calc(50% - 110px);
      }
    }
  }
}