.form__input_bor {
  @include fz(18px);
  width: 100%;
  color: $c-black;
  font-family: $f-acrom-bold;
  line-height: 26px;
  border: 0;

  &::placeholder {
    @include fz(18px);
    color: $c-black;
    font-family: $f-acrom-bold;
    line-height: 26px;
  }
}
