.section-header__subtitle {
  @include font(18px, $f-acrom-medium, $c-black);
  position: relative;
  margin: 0;
  padding-left: 52px;
  max-width: 320px;
  line-height: 20px;

  &::before {
    @include bef(32px, 4px, 1px, 9px);
  }
}