.cards__subtitle {
  margin: 0;
  
  @media ($m-mobile) {
    @include font($fz-14px, $f-acrom-extra-bold, $c-black);
    line-height: 20px;
  }

  @media ($m-tablet) {
    @include font($fz-8px, $f-acrom-extra-bold, $c-black);
    line-height: 12px;
  }
}
