.cards__title {
  margin: 0;
  text-transform: uppercase;

  @media ($m-mobile) {
    @include font($fz-14px, $f-acrom-extra-bold, $c-black);
    line-height: 20px;
  }

  @media ($m-tablet) {
    @include font($fz-9px, $f-acrom-extra-bold, $c-black);
    line-height: 14px;
  }
}
