.cards__head {
  margin: 0;
  
  @media ($m-mobile) {
    @include font($fz-13px, $f-acrom-medium, $c-white);
    line-height: 17px;
  }

  @media ($m-tablet) {
    @include font($fz-9px, $f-acrom-medium, $c-white);
    line-height: 12px;
  }
}
