.cards__title {
  @include font($fz-14px, $f-acrom-extra-bold, $c-black);
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;

  // @media (max-width: 767px) {
  //   &:not(:last-child) {
  //     @include margin(14px);
  //   }
  // }
  // @media (min-width: 768px) {
  //   font-size: $fz-9px;
  // }
}
