.cards__text {
  margin: 0;
  
  @media ($m-mobile) {
    @include font($fz-14px, $f-acrom-regular, $c-mako);
    line-height: 20px;
  }

  @media ($m-tablet) {
    @include font($fz-8px, $f-acrom-regular, $c-mako);
    line-height: 12px;
  }
}
