@font-face {
  font-family: 'RobotoSlabRegular';
  src: url('../../fonts/RobotoSlabRegular/RobotoSlabRegular.woff2') format('woff2'),
  url('../../fonts/RobotoSlabRegular/RobotoSlabRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
