.section-opportunity-cards__title {
  position: relative;
  @media (max-width: 767px) {
    margin-bottom: 12px;
    padding-right: 116px;

    &:nth-last-child(1) {
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background: url("../../img/icon-section/11-icon2.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 41px;
        height: 136px;
        bottom: 0px;
        right: 0px;
      }
    }
    
  }
}
