.section-opportunity-cards__title_second {
  position: relative;
  @media ($m-mobile) {
    &::after {
      content: "02_";
      position: absolute;
      display: inline-block;
      @include font($fz-38px, $f-futura-bold, $c-black);
      opacity: 0.05;
      top: 0;
      right: 92px;
      transform-origin: center;
      transform: rotate(270deg);
    }
  }
}
